.mealshistory-container {
  display: flex;
}

.mealshistory-content {
  margin-left: 200px; /* Same width as sidebar */
  padding: 20px;
  width: calc(100% - 200px); /* Full width minus sidebar width */
}
